body {
    display: flex;             /* Habilita o Flexbox */
    flex-direction: column;    /* Empilha os filhos (header, main, footer) verticalmente */
    min-height: 100vh;         /* Garante que o body ocupe, no mínimo, a altura total da viewport */
    margin: 0;                 /* Remove margens padrão do body */
}
header {
    background-color: #222; /* Cor de fundo do cabeçalho */
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between; /* Alinha logo à esquerda e nav à direita */
    align-items: center;
}
.logo img {
    max-height: 80px;
    width: auto;
}
header nav h1 {
    font-size: 1.5em;
    margin: 0;
    font-family: Sans-serif;
    font-weight: bold;
}
main {
    flex-grow: 1; /* Faz com que o <main> ocupe todo o espaço vertical restante */
}
h1 {
    text-align: center;
}
h1, h2, p {
    font-family: Sans-serif;
    font-weight: bold;
}
.destaque-genero {
    color: #e67e22;
    font-weight: bold;
    font-family: Sans-Serif;
}
footer {
    padding: 35px 50px;
    box-sizing: border-box;
    background-color: #222;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
footer p {
    font-family: Sans-serif;
    color:white;
    font-weight: bold;
    margin: 0;
}
.footer-links {
    display: flex;
    gap: 20px;
}
.footer-links a {
    font-family: Sans-serif;
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s;
}
.footer-links a:hover {
    color: #fff; /* Fica branco ao passar o mouse */
    text-decoration: underline; /* Adiciona o sublinhado ao passar */
}



