header {
    background-color: #222; 
    color: white;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo img {
    max-height: 80px;
    width: auto;      
}

header nav h1 {
    font-size: 1.5em;
    margin: 0;
    font-family: Sans-serif;
    font-weight: bold;
}

footer {
    background-color: #333; 
    color: #ccc; 
    box-sizing: border-box;
    padding: 35px 50px; 
    font-size: 0.9em;
    display: flex;
    justify-content: space-between; 
    align-items: center;
} 
.footer-links {
    display: flex;
    gap: 20px; 
}
.footer-links a {
    color: #aaa;
    text-decoration: none;
    transition: color 0.2s;
    font-family: Sans-serif;
    font-weight: bold;
}
.footer-links a:hover {
    color: #fff;
    text-decoration: underline;
}
footer p {
    margin: 0;
    font-family: Sans-serif;
    font-weight: bold;
}


main {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}
.container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
h2 {
    font-family: sans-serif;
    text-align: center;
    color: #333;
}
input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.button {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    padding: 1.5em 3.0em;/*padding 12px pq 1rem x 0.75em = 12. */
    font-size: 1rem; 
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.button:hover {
    background-color: #0056b3;
}
#mensagem {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    display: none;
}
.sucesso { 
    background-color: #d4edda; 
    color: #155724; 
    border: 1px solid #c3e6cb; 
}
.erro { 
    background-color: #f8d7da; 
    color: #721c24; 
    border: 1px solid #f5c6cb; 
}
